.modal{
    
    &__checkbox{
        display: none;
    }

    &__button{
        height:7rem;
        width:7rem;
        border-radius: 50%;
        background-color: $color-primary-2;
        position: fixed;
        top:5rem;
        left:5rem;
        text-align: center;
        z-index:2000;
        opacity:0;

        span{
            color:$color-white;
            font-size: 2rem;
        }
        transition: all .8s;
    }

    &__img{
        width:20rem;
        height:20rem;
        border-radius:50%;
        cursor: pointer;
    }

    &__background{
        background-color: $color-aux-2;
        //transform: scale(1106);
        position: fixed;
        top:0;
        right:0;
        z-index:500;
        transition: all .8s;
    }

    &__text{
        color:$color-white;
        opacity:0;
        transition: all .5s;
        position: fixed;
        top:17rem;
        left:15rem;
        z-index:2500;

        h3{
            transition: all .5s; 
        }
    }

&__checkbox:checked ~ &__background{
    transform: scale(1106);
}
&__checkbox:checked ~ &__button{
    opacity:1;
}
&__checkbox:checked ~ &__text{
    opacity:1;
}
}